.env
.env.local
node_modules/
build/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/captures/
android/.idea/
android/keystore.properties
android/*.keystore
android/*.jks